@charset "UTF-8";

	
 		/*가운데 div */
 		.container_wrap{
 			background-color: white;
		    display: flex;
		    width: 80vw;
		    border: 0;
		    padding: 0;
		    margin: 0;
		    margin-bottom: 150px;
		    margin-left: 10%;
		    height: auto;
		}
 		.container_box{width: 100%; border: 0; padding: 0 ;  }
 		.350img{padding-right: 30px;}
 		.center_content_top_img{width : 62vw; height: 300px; }
 		.mapleInfo_mapleInven{display: flex; width : 62vw; height: 510px; }
 		.mapleInfo{width: 32.5vw; }
 		.mapleInven{width: 32.5vw; }
 		.mapleInfo_ib{margin: 10px;}
 		.mapleInfo_top_menu{width: 100%; display: flex; background-color: #DDD; height: 40px; margin-top:5px; border-top : 1px solid gray; border-bottom: 1px solid gray;}
 		.mapleInfo_top_menu span{padding-right: 30px; padding-left: 50px; padding-top:10px;  border-right: none; border-left : none;}
 		.mapleInfo_top_menu a{text-decoration: none; color: black;}
 		.mapleInven_top_menu{width: 100%; display: flex; background-color: #DDD; height: 40px; margin-top:5px; border:1px solid gray; border-right: none; border-left : none;}
 		.mapleInven_ib{margin: 10px; top: 15px; }
 		.mapleInven_top_menu a{width: 50%; text-align: center;  height: 40px; margin-top: 10px; text-decoration: none; color: black;}
 		
 		.mapleFree_mapleJob{display: flex; width : 62vw; height: 510px; }
 		.mapleFree{width: 32.5vw; }
 		.mapleJob{width: 32.5vw; }
 		.mapleFree_ib{margin: 10px; top: 15px; }
 		.mapleJob_ib{margin: 10px; top: 15px; }
 		.mapleFree_show{float:right; font-size:14px; color: gray; margin:5px; cursor: pointer;}
 		.joinAndfindIDPw{text-align: center; margin-left:10%;}
 		
 		.Free_Table{margin-left:10px; width: 450px; text-overflow: ellipsis;overflow: hidden; border-bottom: 1px solid gray;}
 		.Free_Table .categoryTD{font-weight: bold;}
 		.titleA{color: black; text-decoration: none;}
 		tr{height: 27px;}
 		.zxs{color: #ff3f3f; font-weight: bold;}
 		#mapleJob_all{font-weight: bold;}
 		.mapleInven_top_menu span{padding:6px; border-radius:10px; margin-left:24px; margin-top:3px; cursor: pointer;}
 		
 		 html,
	    body {
	      position: relative;
	    }
	
	   
	
	    swiper-container {
	      width: 100%;
	      height:100%;
	      position: relative;
	      z-index:1;
	    }
	
	    swiper-slide {
	     position: relative;
	      text-align: center;
	      font-size: 18px;
	      background: #fff;
	      display: flex;
	      justify-content: center;
	      align-items: center;
	       z-index:1;
	    }
	
	    swiper-slide img {
	     position: relative;
	      display: block;
	      width: 100%;
	      height: 100%;
	      object-fit: cover;
	      z-index:1;
	      
	    }
	     .styled-button {
	    padding: 10px;
	    background-color: #4CAF50;
	    color: white;
	    border: none;
	    border-radius: 5px;
	    cursor: pointer;
	    font-size: 16px;
	    font-weight: bold;
	  }
	
	  .styled-button:hover {
	    background-color: #45a049;
	  }
	  table {
	    border-collapse: collapse;
	    width: 100%;
	  }
	
	  table td {
	    padding: 10px;
	    text-align: left;
	  }
	
	  table th {
	    padding: 10px;
	    text-align: left;
	    background-color: #f2f2f2;
	  }
	
	  input[type="radio"] {
	    margin-right: 5px;
	  }
	
	  textarea {
	    width: 97.8%;
	    resize: vertical;
	    padding: 5px;
	  }