@charset "UTF-8";

.container_wrap{
	background-color: white;
    display: flex;
    width: 80vw;
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 150px;
    margin-left: 10%;
    height: auto;
    margin : 0 auto;
}

.center_content{margin: 0 auto;}