<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.springbook.biz.VO.BoardVO" alias="board"></typeAlias>
		<typeAlias type="com.springbook.biz.VO.MemberVO" alias="member"></typeAlias>
		<typeAlias type="com.springbook.biz.VO.NoteVO" alias="note"></typeAlias>
		<typeAlias type="com.springbook.biz.VO.QnaVO" alias="qna"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="mapping/BoardMapper.xml" />
		<mapper resource="mapping/MemberMapper.xml" />
	</mappers>
</configuration>
